.d-none {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*table css*/

tr {
    width: 300px;
}

td {
    width: 100px;
    height: 100px;
    border: 4px solid blue;
    position: relative;
    cursor: pointer;
    background-color: rgb(227, 237, 253);
}

td:hover {
    background-color: rgba(227, 237, 253, 0.685) !important;
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

/*player panel css*/

.player-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin-bottom: 32px;
}

.player-panel img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.player-panel div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.player-inactive {
    opacity: 0.4;
}

/*playing field css*/

.game-box {
    width: 310px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.xo-img {
    position: absolute;
    height: 90px;
    width: 90px;
    top: 2px;
    left: 5px;
}

/*animated lines*/

.horizontal-line {
    position: absolute;
    z-index: 1;
    height: 30px;
    width: 270px;
    background-color: rgba(241, 16, 16, 0.4);
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
    top: 327px;
}

.diagonal-line {
    width: 350px !important;
    top: 327px;
    left: -19px;
}

/*endscreen*/

.endscreen {
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scaleX(0.0);
    transition: transform 400ms ease-in-out;
}

.endscreen img {
    min-width: 300px;
    width: 80vw;
}

.endscreen-opacity {
    transform: scaleX(1.0);
}

.winner {
    font-size: xx-large;
    color: white;
}